services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mluser
      POSTGRES_PASSWORD: mlpass
      POSTGRES_DB: mldb
    ports:
      - "5432:5432"

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    command: >
      sh -c "pip install --no-cache-dir psycopg2-binary &&
      mlflow server
      --backend-store-uri postgresql://mluser:mlpass@postgres:5432/mldb
      --default-artifact-root /mlruns
      --host 0.0.0.0"
    volumes:
      - ./mlruns:/mlruns
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    environment:
      - CLUSTER_NAME=ml-cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    environment:
      - CLUSTER_NAME=ml-cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:8020
    volumes:
      - datanode:/hadoop/dfs/data
    depends_on:
      - namenode

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master

  jupyter:
    image: jupyter/pyspark-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work

#это сервис airflow-init
  airflow-init:
    build: ./airflow
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://mluser:mlpass@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=admin
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./jobs:/opt/airflow/jobs
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: >
      bash -lc "
      airflow db migrate &&
      airflow users create
        --username $$(_AIRFLOW_WWW_USER_USERNAME)
        --password $$(_AIRFLOW_WWW_USER_PASSWORD)
        --firstname Admin --lastname User
        --role Admin --email admin@example.com || true
      "
#это сервис airflow-webserver
  airflow-webserver:
    build: ./airflow
    depends_on:
      - airflow-init
    ports:
      - "8085:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://mluser:mlpass@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./jobs:/opt/airflow/jobs
      - /var/run/docker.sock:/var/run/docker.sock
    command: webserver

#это сервис airflow-scheduler
airflow-scheduler:
    build: ./airflow
    depends_on:
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://mluser:mlpass@postgres:5432/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./jobs:/opt/airflow/jobs
      - /var/run/docker.sock:/var/run/docker.sock
    command: scheduler

volumes:
  namenode:
  datanode: 
